
h1 {
    margin: 30px;
}

p {
    margin: 5px;
}

label {
    margin: 5px 10px;
    padding: 5px;
    color: #212529;
}

input {
    border: 1px solid #ced4da;
}

.container {
    text-align: center;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
}

.my-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.my-field {
    display: flex;
    margin-bottom: 10px;
}

.submit {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 50px;
    background: #0d6efd;
    color: white;
    border: none;
    border-radius: 0.5rem;
}

.submit:hover {
    background: #0b5ed7;
}
