.back-home {
    display: block;
    color: rgb(185, 184, 184);
    margin: 8px 0;
    padding: 4px;
    border: none;
    border-radius: 0.5rem;
    text-align: right;
    text-decoration: none;
}

.back-home:hover {
    color: rgb(135, 135, 135);
}