
.link-btn {
    display: block;
    padding: 15px;
    background: #0d6efd;
    color: white;
    border: none;
    border-radius: 0.5rem;
    text-decoration: none;
}

.link-btn:hover {
    background: #0b5ed7;
}

.my-list {
    text-align: left;
    margin: 20px 50px;
}

.my-list li {
    margin-bottom: 10px;
}