<h1><u><%= params[:house_number] %></u>的圖表產生完成</h1>
<p>將產生三張圖，並且包含其他合約內容，共十一頁（含封面），壓縮為一個檔案：</p>
<ol class="my-list">
    <li>租賃標的、租賃期間、租金</li>
    <li>租金支付方式</li>
    <li>契約書簽名</li>
</ol>
<%= link_to '下載壓縮檔', lease_download_path(name: @name), class: 'btn btn-primary mb-5' %>