<div class="container">
  <footer class="py-3 my-4">
    <p class="text-center text-small" style="color:#A3A3A3">© 2022 <%= link_to "寫程式的山姆老弟", "https://www.youtube.com/channel/UCkUpBgXi3L-DZ1hS1Inc0Wg", style: "color: #A3A3A3;" %></p>
  </footer>
</div>